{% extends "modify_layout.html" %}
{% block body %}
<script>
    function DisplayType() {
        var nSel = document.getElementById('type');
        var index = nSel.selectedIndex;
        var e1 = document.getElementById('model_input');
        var e2 = document.getElementById('policy_input');
        if (index == 1) {
            e1.style.display = 'block';
            e2.style.display = 'none';
        }
        else if (index == 2) {
            e1.style.display = 'none';
            e2.style.display = 'block';
        }
    }
</script>
<h2>Add a New Insurance Plan</h2>
<form name="addnew" action='/admin/modify_addnew' method="POST">
    <div class="form-group">
        <label for="deductible">Deductible:</label>
        <input type="text" name="deductible" required class="form-control" id="deductible"
            placeholder="Enter deductible value">
    </div>
    <div class="form-group">
        <label for="des">Description:</label>
        <textarea class="form-control" id="des" rows="3" name="description" required></textarea>
    </div>
    <div class="form-group">
        <label for="type">Select type</label>
        <select class="form-control" id="type" name="type" onChange='DisplayType();' required>
            <option disabled selected value="">Default</option>
            <option value="auto">Auto</option>
            <option value="home">Home</option>
        </select>
    </div>
    <div class="form-group" id="model_input" style="display: none;">
        <label for="model">Car Model:</label>
        <input type="text" name="model" required class="form-control" id="model" placeholder="Enter car model">
    </div>
    <div class="form-group" id="policy_input" style="display: none;">
        <label for="policy">Policy Number:</label>
        <input type="text" name="policy" required class="form-control" id="policy" placeholder="Enter policy">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>




{% endblock %}